html {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 550;
  font-style: normal;
  background: linear-gradient(#60376f, #222222);
  color: #ffffff;
}

header {
  text-align: center;        /* Centrer le texte */
  width: 100%;               /* Pleine largeur */
}


footer {
  position: fixed;
  bottom: 0;
  text-align: center;        /* Centrer le texte */
  width: 100%;               /* Pleine largeur */
}

h1 {
 font-size: 50px;
}
